@import url("public/vendors/nostri.chat/bundle.css");

a {
  text-decoration: none;
}

/* Nprogress custom styling */
#nprogress .bar {
  background: #7b1fa2 !important;
  height: 2px !important;
  z-index: 2000 !important;
}

.descriptionText {
  white-space: pre;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.pulse-effect {
  animation: pulse 1s infinite ease-in-out;
  position: absolute;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.blink-effect {
  animation: blink 2s infinite ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.glance-effect {
  animation: glance 5s infinite alternate-reverse;
  background: linear-gradient(
    270deg,
    transparent,
    transparent,
    transparent,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  background-size: 600% 600%;
}

@keyframes glance {
  0% {
    background-position: -25% 0;
  }
  20%,
  100% {
    background-position: 100% 33%;
  }
}
